#footer= 'Copyright © ' + date(Date.now(), 'YYYY') + ' '
  a(href=url_for('.'), rel='nofollow')= config.title + ' |'
  |  博客框架采用 
  a(rel='nofollow', target='_blank', href='https://hexo.io') Hexo 
  |  | 基础主题采用
  a(rel='nofollow', target='_blank', href='https://github.com/pagecho')  Cho
